/**/

html,
select,
input,
button {
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.error {
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /*margin: auto 1em;*/
}

.title {
  grid-area: 1 / 1 / 2 / 2;
}

.login {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  align-content: center;
  justify-content: end;
}

.body {
  grid-area: 2 / 1 / 3 / 3;
}

.features {
  min-height: 80vh;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  background-color: #f0f0f0;
}

.title {
  margin-left: 10px;
  width: 100%;
}

.title h2 {
  font-size: 24px;
  padding-left: 5px;
  display: inline;
  font-weight: 600;
}

.title h3 {
  float: left;
  width: 32%;
  background: transparent;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #8a8886;
  font-weight: 600;
}

#mgt-col {
  float: left;
  width: 32.5%;
  background: transparent;
  height: 700px;
  overflow: hidden;
  padding: 5px;
  margin-top: 5px;
}
#mgt-col:hover {
  overflow-y: auto;
}
