html {
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 10px;
}

.login {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  align-content: center;
  justify-content: end;
  margin-right: 10px;
}

.body {
  grid-area: 2 / 1 / 3 / 3;
}

.no-data {
  width: 20rem;
  text-align: center;
  margin: 0 auto;
}

.no-data img {
  margin: 0 auto;
}

.no-data p {
  margin: 1rem;
}

.no-data > p:first-of-type {
  font-weight: bold;
}
